/* Container needed to position the overlay. Adjust the width as needed */
.profile-card-container {
    position: relative;
    width: 18rem;
    margin: 10px;   
    overflow: hidden; 
}
  
/* Make the image to responsive */
.profile-card-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .2s;
}

.profile-card-image:hover {
    transform: scale(1.2);
}

/* The overlay effect - lays on top of the container and over the image */
.profile-card-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 20px;
    text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.profile-card-container:hover .profile-card-overlay {
    opacity: 1;
}